WebSeivices/2.SOAP/lesson_29/FlightsClient_lesson29/xml-resources/web-service-references/FlightWSService/wsdl/localhost_8080/Flights_WS_lesson29/FlightWSService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:tns="http://javabegin.ru/training/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://javabegin.ru/training/ws">
<types>
<xsd:schema>
<xsd:import namespace="http://javabegin.ru/training/ws" schemaLocation="http://localhost:8080/Flights_WS_lesson29/FlightWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="buyTicket">
<part name="parameters" element="tns:buyTicket"/>
</message>
<message name="buyTicketResponse">
<part name="parameters" element="tns:buyTicketResponse"/>
</message>
<message name="checkReservationByCode">
<part name="parameters" element="tns:checkReservationByCode"/>
</message>
<message name="checkReservationByCodeResponse">
<part name="parameters" element="tns:checkReservationByCodeResponse"/>
</message>
<message name="getAllCities">
<part name="parameters" element="tns:getAllCities"/>
</message>
<message name="getAllCitiesResponse">
<part name="parameters" element="tns:getAllCitiesResponse"/>
</message>
<message name="searchFlight">
<part name="parameters" element="tns:searchFlight"/>
</message>
<message name="searchFlightResponse">
<part name="parameters" element="tns:searchFlightResponse"/>
</message>
<message name="CityEmptyException">
<part name="fault" element="tns:CityEmptyException"/>
</message>
<portType name="FlightWS">
<operation name="buyTicket">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://javabegin.ru/training/ws/FlightWS/buyTicketRequest" message="tns:buyTicket"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://javabegin.ru/training/ws/FlightWS/buyTicketResponse" message="tns:buyTicketResponse"/>
</operation>
<operation name="checkReservationByCode">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCodeRequest" message="tns:checkReservationByCode"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://javabegin.ru/training/ws/FlightWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse"/>
</operation>
<operation name="getAllCities">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://javabegin.ru/training/ws/FlightWS/getAllCitiesRequest" message="tns:getAllCities"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://javabegin.ru/training/ws/FlightWS/getAllCitiesResponse" message="tns:getAllCitiesResponse"/>
</operation>
<operation name="searchFlight">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://javabegin.ru/training/ws/FlightWS/searchFlightRequest" message="tns:searchFlight"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://javabegin.ru/training/ws/FlightWS/searchFlightResponse" message="tns:searchFlightResponse"/>
<fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:CityEmptyException" name="CityEmptyException" ns9:Action="http://javabegin.ru/training/ws/FlightWS/searchFlight/Fault/CityEmptyException"/>
</operation>
</portType>
</definitions>